header nav ul {
    display: flex;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    display: flex;
}

.left {
    float: left;
}

.right {
    float: right;
}




.logo {
    clear: both;
    position: relative;
    top: 150px;
}


.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchField {
    position: relative;
    top: 170px;
}

.searchField input {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
}

.buttons input {
    margin: 5px;
}







